<!-- mechanic-list.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mechanic List</title>
</head>
<body>
   <!-- mechanic-list.html -->
<h1>Mechanic List</h1>
{% if mechanics %}
    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone</th>
            </tr>
        </thead>
        <tbody>
            {% for mechanic in mechanics %}
                <tr>
                    <td>{{ mechanic.firstname }}</td>
                    <td>{{ mechanic.lastname }}</td>
                    <td>{{ mechanic.phone }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No mechanics found for the specified location and faulty part.</p>
{% endif %}


</body>
</html>
